<html>

<head>
    <title>FastAPI application</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</head>

<body>

    {% set prefix="http://127.0.0.1:8000" %}

    <table class="table" border="4">

        <tr>
            <td><a href="{{prefix}}/home"><b>HOME</b></a></td>
            <td><a href="{{prefix}}/search_user"><b>SEARCH USER</b></a></td>
            <td><a href="{{prefix}}/user"><b>USER</b></a></td>
            <td><a href="{{prefix}}/keyword"><b>SEARCH KEYBOARD</b></a></td>
        </tr>
    </table>

    <br>
    <h1>{{access_token}}</h1>

</body>

</html>